body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background-image:url("images/background.jpeg");
    color:rgb(209, 84, 27);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1{
    margin-top:1em;
    font-family: 'ZCOOL KuaiLe', cursive !important;
    font-size:5em;
}

input{
    width:150px;
    height:150px;
    margin:0px 50px;
}

button{
    margin-top:2em;
    width: 200px;
    height:50px;
    font-size:2em;
    font-family:'ZCOOL KuaiLe', sans-serif !important;
    color:rgb(209, 84, 27);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
    font-size:4em;
}